n8n/workflows/User Message Forwarder.json
{
  "name": "User Message Forwarder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f91c7409-e77f-4471-90fc-65079d333687",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "bc90807e-7a59-4519-8d5e-fa3b690d64c0",
      "name": "Webhook",
      "webhookId": "f91c7409-e77f-4471-90fc-65079d333687"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "175a2919-1cf3-439d-a66e-4e005e7d98a0",
              "name": "user",
              "value": "={{ $json.body.user }}",
              "type": "string"
            },
            {
              "id": "540bbfea-4a96-4a7a-a594-9c74e8607215",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "d90ed66c-fd01-4aad-b526-ecf18631d115",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8080/webhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "={{ $json.user }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "72e41965-b466-4623-b8d3-1e07244415d7",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e4235475-f03a-4463-bb79-da2a8e9d0285",
  "meta": {
    "instanceId": "3173066b1ed526c663b469e3bc13f87886e55cc70683a95cd80b4806f62856d8"
  },
  "nodeGroups": [],
  "id": "US1Rjum1u7gLx9eR",
  "tags": []
}